@-moz-document url-prefix(https://www.ajc.com/) {
  body {
    overflow: visible !important;
  }
  main {
    display: block !important;
  }
  .c-blocker-msg, #c-blocker-overlay {
    display: none !important;
  }
}
